{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block body %}




<!-- ======= Hero Section ======= -->
<!--




<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
        <h1>تنمية مهارات التحول الرقمي<br>للمعلمين والمعلمات</h1>
        <h2>تدريب الإلكتروني قائم على تقنية الذكاء الإصطناعي</h2>

        <a href="#" class="btn-get-started">استخدم الشات بوت عند الحاجة</a>
    </div>
    -->


</section><!-- End Hero section-->

<br><br>



<main id="main">
  <center>
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-12 col-md-6">
            <center>
              <div class="box featured">
                <h3> {{post.skills_category}}</h3>
                <h5 style="color: red"><b> {{post.title}} </b></h5>
                <ul>
                  <li> {{post.description}} </li>
                  <li class="na"> {{post.arrang_post}} </li>

                </ul>

                <div id="disqus_thread"></div>




                <div class="btn-wrap">
                  <a href="/" class="btn-buy">عودة للرئيسية</a>
                  <br>
                  <a href="#" class="btn-get-started">يمكنك استخدام الشات بوت عند الحاجة</a>

                </div>
              </div>
          </div>
  </center>
  </div>
  </div>
  </div>
  </div>


  </center>






  </div>
  </section><!-- End Why Us Section -->


</main>
<!-- End #main -->
>



<script>
  /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
  /*
  var disqus_config = function () {
  this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  */
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://http-www-ai-training-click.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>






{% endblock body %}