
{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block body %}




<!-- ======= Hero Section ======= -->
<!--

<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
        <h1>تنمية مهارات التحول الرقمي<br>للمعلمين والمعلمات</h1>
        <h2>تدريب الإلكتروني قائم على تقنية الذكاء الإصطناعي</h2>

        <a href="#" class="btn-get-started">استخدم الشات بوت عند الحاجة</a>
    </div>
    -->


</section><!-- End Hero section-->

<br><br>




<main id="main">
  <center>
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-12 col-md-6">
            <center>
              <div class="box featured">
                <h3>    تم استلام تعليقكم ..... سيتم التواصل معكم قريبا ... مع الشكر   </h3>
                <h3>    يسعدني التواصل معكم   </h3>
                 <h5 style="color: red"><b> للتواصل تليفونيا  من خلال الرقم 55377700 </b></h5>
                 <h5 style="color: red"><b> للتواصل من خلال البريد الإلكتروني  </b></h5>

                <div class="btn-wrap">
                  <a href="/" class="btn-buy">عودة للرئيسية</a>
                  <br>
                  <a href="#" class="btn-get-started">يمكنك استخدام الشات بوت عند الحاجة</a>

                </div>
              </div>
          </div>
  </center>
  </div>
  </div>
  </div>
  </div>


  </center>






  </div>
  </section><!-- End Why Us Section -->


</main>
<!-- End #main -->
>

{% endblock body %}