{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block body %}



</section>

<br><br>



<main id="main">
  <center>

    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
       
        <h2>فكرة بيئة التدريب الإلكترونية القائمة على تقنيات الذكاء الإصطناعي</h2>
        <br>

     <b>    <h3 style="color: yellow">توضيح مفهوم حشد المصادر  </h3>
      </b>
    </div>   
  {% comment %} </div>    {% endcomment %}


    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-12 col-md-6">
            <center>
              <div class="box featured">
                <h1 style="color: blue"><b> </b></h1>
                <ul>
                  <br>
                  
                  <p>
  <h2>
 حشد المصادر يمثل أحد الاتجاهات الحديثة في مجال تكنولوجيا التعليم ويعني سهولة الحصول على المعلومة من مصادر متعدده وكذلك إمكانية الاستفادة من الخبرات البشرية المختلفة
<br>
<br>

ويمكن تعريف 
<b style="color: red">نمط الحشد التنافسي </b>
على انه النمط الذي يتنافس فيه المشاركون لإنجاز مهمه محدده، ويقوم بحل المشكلة لإنجاز المهمة ويتم ذلك بشكل مستقل عن باقي الافراد ويتم تقويم هذه الحلول واختيار أفضلها .
<br>
<br>

 ويمكن تعريف
 <b style="color: red"> نمط الحشد التشاركي </b>
 على أنه النمط الذي يتشارك فيه مجموعة من الأفراد لإنجاز مهمه محدده، ويقوم كل فرد داخل هذه المجموعة بإنجاز جزء من المهمة، ومن ثم يتم التجميع لتتشكل المهمة بشكل متكامل
  </h2>
</p>
<br>

                </ul>
                <div class="btn-wrap">
                  <a href="/" class="btn-buy">عودة للرئيسية</a>
                  <br>
                  <a href="#" class="btn-get-started">يمكنك استخدام الشات بوت عند الحاجة</a>

                </div>
              </div>
          </div>
  </center>
  </div>
  </div>
  </div>
  </div>


  </center>





  </div>
  </section><!-- End Why Us Section --><!-- End Why Us Section -->


</main>
<!-- End #main -->
>

{% endblock body %}