{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block body %}



<!-- START #main -->


<main id="main" data-aos="fade-in">

  <!-- ======= Breadcrumbs ======= -->
  <br><br>

  <!--
    <div class="breadcrumbs">
      <div class="container">
        <h2>الإشراف</h2>
        <p>لجنة الإشراف  </p>
      </div>
    </div>
    
    -->

  <!-- End Breadcrumbs -->

  <!-- ======= Trainers Section ======= -->

  <section id="events" class="events">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card">
            <div class="card-img">
              <img src="{% static 'assets/img/trainers/3.jpg' %}" alt="...">

            </div>



            <div class="card-body">
              <h5 class="card-title"><a href="index.html">الأستاذ الدكتور / إسماعيل محمد حسن إسماعيل</a></h5>
              <p class="fst-italic text-center">أستاذ تكتولوجيا التعليم</p>
              <p class="card-title">رئيس قسم تكنولوجيا التعليم - كلية التربية - جامعة المنصورة</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card">
            <div class="card-img">
              <img src="{% static 'assets/img/trainers/12.jpg' %}" alt="...">

            </div>


            <div class="card-body">
              <h5 class="card-title"><a href="">الأستاذ الدكتور / عبد العزيز طلبة عبد الحميد</a></h5>
              <p class="fst-italic text-center">أستاذ تكتولوجيا التعليم المتفرغ</p>
              <p class="card-title">رئيس قسم تكنولوجيا التعليم السابق - كلية التربية - جامعة المنصورة</p>
            </div>
          </div>
        </div>

      </div>
    </div>

    </div>




    <center>
      <div class="col-md-6 d-flex align-items-stretch">
        <div class="card">
          <div class="card-img">
            <img src="{% static 'assets/img/trainers/DSC_0060.jpg' %}" alt="...">

          </div>


          <div class="card-body">
            <h5 class="card-title"><a href="index.html">الباحث / حسام فتحي سليمان وهبه</a></h5>
            <p class="fst-italic text-center">موجه الحاسب الآلي - وزارة التربية </p>
            <p class="card-title">باحث دكتوراة قسم تكنولوجيا التعليم - كلية التربية - جامعة المنصورة</p>
          </div>
        </div>
      </div>
    </center>



  </section><!-- End Trainers Section -->
</main><!-- End #main -->

<!-- End #main -->


{% endblock body %}