{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block body %}


 

  <!-- ======= Hero Section ======= -->
<!--


  <section id="hero" class="d-flex justify-content-center align-items-center">

    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">

      <h1>تنمية مهارات التحول الرقمي<br>للمعلمين والمعلمات</h1>

      <h2>تدريب الإلكتروني قائم على تقنية الذكاء الإصطناعي</h2>

      <a href="#" class="btn-get-started">استخدم الشات بوت عند الحاجة</a>
    </div>
  </section>


   -->

  <!-- End Hero -->



  
  <!-- Start #main -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h1 style="color: yellow;">نبذه عن مهارات التحول الرقمي</h1>
        <h5>تعد مهارات التحول الرقمي ضمن المهارات التي يتطلع إليها التدريب الحالي وهي مقسمة إلى أربعة مهارات أساسية</h5>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/events-1.jpg' %}" alt="...">
              </div>
             
             
              <div class="card-body">
                <h5 class="card-title"><a href="">التقويم الإلكتروني عن بعد</a></h5>
                <p class="fst-italic text-center">مفهوم التقويم الإلكتروني عن بعد</p>
                <center><p class="card-text" >مفهوم التقويم الإلكتروني عن بعد مفهوم التقويم الإلكتروني عن بعد مفهوم التقويم الإلكتروني عن بعد مفهوم التقويم الإلكتروني عن بعد </p></center>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/events-2.jpg' %}" alt="...">

              </div>


              <div class="card-body">
                <h5 class="card-title"><a href="index.html">تصميم وانتاج المقررات الإلكترونية</a></h5>
                <p class="fst-italic text-center">مفهوم تصميم وانتاج المقررات الإلكترونية</p>
                <center>    <p class="card-text">مفهوم تصميم وانتاج المقررات الإلكترونية مفهوم تصميم وانتاج المقررات الإلكترونية مفهوم تصميم وانتاج المقررات الإلكترونية مفهوم تصميم وانتاج المقررات الإلكترونية</p></center>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/events-2.jpg' %}" alt="...">
              </div>






              <div class="card-body">
                <h5 class="card-title"><a href="">تطبيقات الحوسبة السحابية </a></h5>
                <p class="fst-italic text-center">مفهوم تطبيقات الحوسبة السحابية</p>
                <center><p class="card-text"> مفهوم تطبيقات الحوسبة السحابيةمفهوم تطبيقات الحوسبة السحابيةمفهوم تطبيقات الحوسبة السحابيةمفهوم تطبيقات الحوسبة السحابيةمفهوم تطبيقات الحوسبة السحابية </p></center>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/virtualclassroom.png' %}" alt="...">              </div>



              <div class="card-body">
                <h5 class="card-title"><a href="">إدارة الفصول الإفتراضية</a></h5>
                <p class="fst-italic text-center">مفهوم إدارة الفصول الإفتراضية</p>
                <center><p class="card-text">مفهوم إدارة الفصول الإفتراضيةمفهوم إدارة الفصول الإفتراضيةمفهوم إدارة الفصول الإفتراضيةمفهوم إدارة الفصول الإفتراضيةمفهوم إدارة الفصول الإفتراضية</p></center>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Events Section -->

  </main><!-- End #main -->
  <!-- End #main -->


{% endblock body %}
