{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block body %}




<div dir="rtl">
    <!-- Search -->
    <div class="catagory_area ">
        <div class="container " style="margin-top: 5rem">
            <br>
            <div class=" single_text">

             
                <center>
                    <center>
                        <h5 style="color:red; font-weight: 600;">
التأكد من صحة مشاركة المهام وتوضيحها يمثل
أهمية بالغة 
وهو أحد مصادر الحشد للمصادر                        </h5>
                    </center>                   
                    </h4>
                </center>
                    <hr>

            </div>

        </div>
    </div>

</div>





<!--{{ form.as_p }}-->
<center>
    <div style="width: 44% ">

        <center>
       
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <h3>يرجى المراجعة  قبل الاضافة</h3>
                <button type="submit" class="btn btn-primary">اضافة مشاركة</button>

                {% endbuttons %}
            </form>
                </center>  

    </div>

</center>
{% endblock body %}