{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block body %}
<div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_5.jpg' %});">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
			data-scrollax-parent="true">
			<div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
				<p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
						class="mr-2"><a href="index.html">Home</a></span> <span>Reset Password  E-Training Evironment</span></p>
			</div>
		</div>
	</div>
</div>



<div class="hero-wrap js-fullheight" ">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
			data-scrollax-parent="true">
			<div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
				
		 
				<section class="d-flex justify-content-center align-items-center">
					<div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">

						<h2> مرحبا بكم في شاشة استعادة كلمة المرور  - لبيئة التدريب الإلكترونية
						</h2>
						<h2>Reset Password  E-Training Evironment  </h2>
						<a href="#" class="btn-get-started">استخدم الشات بوت عند الحاجة</a>
					</div>

			</div>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-md-5 mx-auto mt-1 mb-1">
      <form action="" method="">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
	  <br>
          <button type="submit" class="btn btn-primary py-3">Reset Password</button>

      {% endbuttons %}
    </div>
</div>

{% endblock %}
