{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block body %}






<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
       

     <b>    <h2 style="color: blue">  مهارات  المعرفية والأدائية  المطلوب تحقيقها حسب نمط حشد المصادر (تنافسي-تشاركي) للموديولات الأربع </h2>
       </b>
      <img src="{% static 'assets/img/4modules.png'%}" alt="HOSSAM FATHI" class="img-fluid" width="750"px height="650">       

      </div>
    </div><!-- End Breadcrumbs -->


    <!-- START #main -->
    <!-- ======= TasksInfo Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="box featured">
              <h3 style="color: yellow">	الموديول الرابع</h3>
              <h3 style="color: yellow">•	استخدام تطبيقات الحوسبة السحابية</h3>
              <h5 style="color: red"><b>المهام المطلوب تنفيذها</b></h5>
            
              <ul>
            
                <li> يذكر أهمية البريد الإلكتروني</li>
                <li>يرتب خطوات إنشاء بريد الكتروني </li>
                <li> يستخدم الأدوات الخاصة بتنسيق رسالة</li>
                <li>يختبر الملفات التي سيتم إرفاقها مع الرسالة </li>
                <li>يُفاضل بين إرسال رسالة لشخص واحد أو لعدة أشخاص </li>
                <li> يُعدد أهم مزايا التخزين السحابي</li>
                <li>يبرر أهمية رفع إلى سحابة </li>
                <li> يفحص مجلد قبل رفعه إلى السحابة</li>
                <li>يُلخص خطوات مشاركة مجلد </li>
                <li> يُناقش أهمية رابط النموذج</li>
                <li> يستخرج الردود التي تم تسجيلها</li>
                <li> يُوضح مدى الاستفادة من تنزيل ملف الورد</li>
                <li> يُنشئ حساب بريد إلكتروني</li>
                <li>يُنشئ رسالة بريد إلكتروني </li>
                <li> يُنسق الرسالة</li>
                <li>يُرفق ملفات مع الرسالة </li>
                <li> يُرسل رسالة لأكثر من شخص</li>
                <li>يُسجل الدخول إلى (OneDrive / GoogleDrive) </li>
                <li> يرفع ملف إلى السحابة</li>
                <li>ينزل ملف إلى الجهاز </li>
                <li>يرفع مجلد إلى السحابة </li>
                <li>ينزل مجلد إلى الجهاز </li>
                <li>يُشارك مجلد </li>
                <li> يُنشئ نموذج</li>
                <li> يُضيف عنوان للنموذج</li>
                <li> يُضيف أسئلة</li>
                <li>يستعرض الردود </li>
                <li>يُنزل ملف الردود </li>
                </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">المهــــام</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="box featured">
              <h3 style="color: yellow">	الموديول الثالث</h3>

              <h3 style="color: yellow">•	إدارة الفصول الإفتراضية</h3>

              <h5 style="color: red"><b>المهام المطلوب تنفيذها</b></h5>
              <ul>
                <li> يُعرف مفهوم الفصل الإفتراضي</li>
                <li>يُنظم إعدادات الفصل الإفتراضي </li>
                <li>يُصنف أعضاء الفريق حسب الصلاحيات  </li>
                <li> يُوضح أهمية الكتابة للتواصل مع أعضاء الفريق</li>
                <li>يُصمم منشور كإعلان للفريق </li>
                <li> يُعدد مزايا السماح بتشغيل الصوت للأعضاء</li>
                <li> يُعلل أهمية تسجيل الدرس (فيديو)</li>
                <li> يُقرر استخدام السبورة البيضاء</li>
                <li> يبرهن على أهمية مشاركة المتعلمين لشاشاتهم</li>
                <li> يخطط لإرسال الواجبات للمتعلمين</li>
                <li>يُناقش أنواع المهام التي يمكن أن يُكلف بها المتعلمين </li>
                <li> يُفسر أهمية إرسال التغذية الراجعة للمتعلمين</li>
                <li>يضبط إعدادات الفصل الإفتراضي </li>
                <li>يضيف الأعضاء للفريق </li>
                <li>يمنح الصلاحيات للأعضاء (مالك – عضو...) </li>
                <li> يتواصل من خلال الكتابة مع أعضاء الفريق</li>
                <li> يُضيف منشورات جديدة</li>
                <li>ينسق المنشورات التي تمت إضافتها </li>
                <li>يُضيف ملفات بصيغ مختلفة </li>
                <li> يسمح بتشغيل الصوت للأعضاء</li>
                <li> يسمح بتشغيل الكاميرا للأعضاء</li>
                <li> يُسجل الدرس (فيديو)</li>
                <li>يُنزل ملف الحضور </li>
                <li> يُرسل واجبات للمتعلمين</li>
                <li> يستخدم السبورة البيضاء</li>
                <li> يُتيح مشاركة المتعلمين لشاشاتهم</li>
                <li>يُكلف المتعلمين بمهام محددة</li>
                <li> يُرسل تغذية راجعة للمتعلمين</li>
                <li> يُحدد وقت لتسليم المهام</li>
                </ul>
                
              <div class="btn-wrap">
                <a href="#" class="btn-buy">المهــــام</a>
              </div>
            </div>
          </div>


          <div class="col-lg-3 col-md-6">
            <div class="box featured">
              <h3 style="color: yellow">	الموديول الثاني</h3>

              <h3 style="color: yellow">•	التقويم الإلكتروني عن بعد</h3>
              <h5 style="color: red"><b>المهام المطلوب تنفيذها</b></h5>
              <ul>
                <li> يذكر مفهوم التقويم الإلكتروني عن بُعد</li>
                <li>يشرح المقصود بالمهام </li>
                <li> يُفاضل بين طرق تسليم المهام</li>
                <li> يُعدد طرق تقديم التغذية الراجعة للمعلم</li>
                <li>يُرتب خطوات إضافة سؤال </li>
                <li> يُبرهن على أهمية التنوع في الأسئلة</li>
                <li> يقترح زمن الإجابة لمجموعة أسئلة</li>
                <li> يحكم على صلاحية مجموعة أسئلة لتقويم مقرر دراسي</li>
                <li>يستخلص أهمية استخراج تقرير الدرجات </li>
                <li>يُشغل نظام Moodle بغرض التقويم الإلكتروني </li>
                <li>يُضيف مهمة جديدة </li>
                <li>يضبط إعدادات التغذية الراجعة </li>
                <li> يضبط إعدادات التسليم</li>
                <li>يضبط إعدادات تسليم المهمة على شكل مجموعات </li>
                <li> يضبط إعدادات الدرجة</li>
                <li> يُدخل درجات التقييم للطلبة</li>
                <li> يُنشئ اختبار الكتروني قصير </li>
                <li>يُضيف أسئلة صح أم خطأ </li>
                <li>يُضيف أسئلة اختيار من متعدد </li>
                <li> يُضيف أسئلة في بنك الأسئلة</li>
                <li> يُعدل سؤال تم إنشاؤه سابقاً</li>
                <li> يُحدد زمن الإجابة المسموح به</li>
                <li> يُحدد الإجابة الصحيحة لكل سؤال تم إنشاؤه</li>
                <li> يستخرج تقرير الدرجات</li>
                </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">المهــــام</a>

             
              </div>
            </div>
          </div>


          <div class="col-lg-3 col-md-6">
            <div class="box featured">
              <h3 style="color: yellow">	الموديول الأول</h3>

              <h3 style="color: yellow">•	تصميم وإنتاج المقررات الإلكترونية</h3>
              <h5 style="color: red"><b>المهام المطلوب تنفيذها</b></h5>
              <ul>
                <li> يُعرف نظام إدارة التعلم</li>
                <li> يشرح مميزات نظام إدارة التعلم</li>
                <li> يميز بين مكونات صفحة المقررات الدراسية</li>
                <li> يُعدل في تصنيفات المقرر الدراسي.</li>
                <li>يُقسم مقرر دراسي إلى وحدات </li>
                <li> يُلخص خصائص المقررات الدراسي التي يمكن تعييرها</li>
                <li> يُوظف أحد الإضافات في المقرر الدراسي</li>
                <li>يميز بين خيارات تبويب إدارة المقرر الدراسي </li>
                <li> يناقش أدوار المستخدمين وصلاحياتهم</li>
                <li> يذكر أهمية استخراج تقرير عن مستخدم</li>
                <li> يُسجل الدخول للنظام</li>
                <li> يُغير كلمة المرور</li>
                <li>ينتقل الي صفحة المقرر الدراسي </li>
                <li>يُسجل الخروج من النظام </li>
                <li> يضبط إعدادات المقرر الدراسي</li>
                <li> يُضيف مقرر دراسي</li>
                <li> يُضيف مقدمة مختصرة لوصف المقرر الدراسي</li>
                <li>يُضيف محتوى للمقرر الدراسي </li>
                <li> يضبط تاريخ بدء المقرر الدراسي</li>
                <li>يُعيين المستخدمين </li>
                <li>يُحدد صلاحيات المستخدمين </li>
                <li> يضبط إعدادات المجموعات للمقرر الدراسي</li>
                <li> يستخرج تقرير المقرر الدراسي</li>
                <li>يستخرج تقرير مستخدم. </li>       
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">المهــــام</a>
             
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End TasksInfo Section -->

  </main>
  
  <!-- End #main -->


{% endblock body %}